<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="{% static "chatter/styles.css" %}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <span class="navbar-brand"><a id="page-name" href="{% url 'index' %}">CHATTER</a></span>
            <ul class="collapse navbar-collapse navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
                <li class="nav-item">
                    {% if authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
                    {% endif %}
                </li>
            </ul>
            <form class="form-inline" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="search_input" content="{{ search_input }}" id="id_search_input" autofocus required>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </nav>
    {% endblock %}
    {% block error_message %}
        {% if error_message %}
             <div id="error_message" class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
    {% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>