{% extends "chatter/core/base.html" %}

{% block title %}Start page{% endblock %}

{% block content %}
<div id="welcome-text" class="container-fluid jumbrotron">
    <h1 class="text-center">Welcome to Chatter!</h1>
</div>
<dic class="row">
    <a id="signup-button" class="btn btn-primary btn-block" href="{% url 'signup' %}">SIGN UP</a>
</dic>
{% endblock %}