{% extends "chatter/core/base.html" %}

{% block title %}Login{% endblock %}

{% block searchbar %}{% endblock %}

{% block content %}
<div id ="login-page" class="jumbotron">
    <div class="text-center">
        <h2>Login</h2>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}