{% extends "chatter/core/base.html" %}

{% block title %}Search for user '{{ search_input }}'{% endblock %}

{% block content %}
<h2>Search results matching user '{{ search_input }}':</h2>
{% if user_profiles %}
<ul class="list-group">
    {% for profile in user_profiles %}
        <li class="list-group-item"><a href="{% url 'user_profile' profile %}">{{ profile }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No accounts found matching given name</p>
{% endif %}
{% endblock %}