{% extends "chatter/core/base.html" %}

{% block title %}SIGNUP PAGE{% endblock %}

{% block searchbar %}{% endblock %}

{% block content %}
<div id="signup-page" class="jumbotron">
    <div class="text-center">
        <h2>Sign up</h2>
        <form method="post" class="form-group">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text | safe }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>
{% endblock %}