* {
    font-family: 'Exo 2', sans-serif;
}

body {
    background-color: lightcyan;
}

nav {
    background-color: forestgreen;
}

#login-page {
    background-color:  lightcyan;
}

#signup-page {
    background-color: lightcyan;
}

ul {
    list-style-type: none;
}

#page-name {
    color: black;
    text-decoration: none;
}

.pull-right {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    float: right;
}
