{% extends "chatter/core/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        {% block left_menu %}{% endblock %}
        </div>
        <div class="col-9">
        {% if authenticated %}
        <button id ="jquery-btn" class="btn btn-primary">Resend last chatt</button>
        {% block javascript %}
        <script>
        $('#jquery-btn').click(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.get({
                url: '/chatter/newest_chatt/',
                success: function (dataJSON) {
                    var data = JSON.parse(dataJSON)
                    if (confirm('Are you sure you want to resubmit this chatt?\n\n' + data.username + ' says:\n' + data.content)) {
                        $.post({
                            url: '/chatter/home/',
                            data: {
                                chatt_content: data.content
                            },
                            success: function (data) {
                                alert('Resubmitting succesful')
                                location.reload()
                            },
                            error: function (a, b, c) {
                                console.log('error')
                                console.log(a)
                                console.log(b)
                                console.log(c)
                            }
                        });
                    }
                }
            });
        });
        </script>
        {% endblock %}
            <div class="container-fluid clearfix" id="make-chatt">
                {% block make_chatt %}
                    <div class="row"><h2>Make chatt</h2></div>
                        <form id="make-chatt-form" class="form-group" method="post">
                            {% csrf_token %}
                            <div class="row"><textarea class="form-control" name="chatt_content"required></textarea></div>
                            <div class="row">
                                <div class="col pull-right">
                                    <div class="text-right">
                                        <button class="btn btn-primary" type="submit">Publish Chatt</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                {% endblock %}
            </div>
        {% endif %}
            <h1>CHATTS:<br></h1>
            {% if entries %}
            <ul class="list-group">
                {% for entry in entries %}
                    <li class="list-group-item">
                        <a href="{% url 'user_profile' entry.author %}">
                            {{ entry.author }}
                        </a>
                        at
                        {{ entry.pub_date | date:"Y-M-d H:i" }}
                        : {{ entry.content }}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>NO CHATTS YET</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}